@model ASP.NET.ViewModels.RandomKsiazkaViewModel
@{
    ViewBag.Title = "Randoms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
var className = Model.Customers.Count > 0 ? "popular" : null;
}


<h2 class="@className">@Model.Ksiazka.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No one has rented this Ksiazka before.</text>
}
else 
{ 
    <ul>
        @foreach (var Customer in Model.Customers)
        {
            <li>@Customer.Name</li>
        }
    </ul>
} 